* {
    font-family: 'Gotu', 'M PLUS 1p', sans-serif;
}

body {
    margin: 0 auto;
    max-width: 1200px;
}

header, main, footer {
    width: 100%;
}

a {
    color: #e40277;
}


/* header */
header {
    background-color: white;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    max-width: 100%;
}

header h1 {
    margin: 0;
}

header img {
    width: 350px;
    max-width: 100%;
}

/* main */
main {
    margin-top: 120px;
}

main h1 {
    font-family: 'Yellowtail';
    text-align: center;
}

section.profile{
    text-align: center;
}

section.profile > img {
    border-radius: 50%;
    width: 200px;
}

article {
    margin-bottom: 5em;
}

section {
    margin-bottom: 3em;
    padding: 0 2em 0 2em;
}

ul {
    padding:0.2em 1em 0 1em;
    list-style-type: none;
}

li {
    padding:0 0 0.7em 0;
}

main li:before {
    content: "• ";
    color: #e40277;
}

.sns li {
    display: inline;
    font-size: 1.75em;
    padding-right: 0.4em;
}
.sns li:before {
    content: none;
}
.sns a {
    text-decoration: underline;
}

article > h1 {
    font-size: 3.0rem;
    background: linear-gradient(transparent 70%, #fff952 70%, #fff952 100%);
}

section > h1 {
    font-size: 2.0rem;
    background: linear-gradient(transparent 70%, #2eb2ff 70%, #2eb2ff 100%);
}

li > ul > li {
    font-size: 0.8em;
}

ul.cards {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ul.cards li:before {
    content: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    border: solid 1px #eee;
    border-radius: 20px;
    background-color: white;

    width: 320px;
    height: 305px;
    margin: 0rem 0.5rem 0rem 0.5rem; 
}
.card-for-books {
    width: 200px;
    height: 400px;
    margin: 0rem 0.5rem 0rem 0.5rem; 
}
.card a {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}

.card-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    border-bottom: solid 1px #eee;
}
.card-image-for-books {
    height: 295px;
}

.card-content {
    height: 105px;
    padding: 0.8rem;
}

.card-content-title {
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
}
.card-content-title-for-books {
    -webkit-line-clamp: 4;
}
.card-content-desc {
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    
    font-weight: normal;
    font-size: 0.8rem;
    color: #666;
}

.contact, .service p {
    text-align: center;
}

.contact {
    margin-bottom: 25em; 
}
/* footer */